# Container Commands
container_commands:
  01_migrate:
    command: ".\venv\Scripts\activate && python3 manage.py migrate"
    leader_only: true
  02_createsuperuser:
    command: ".\venv\Scripts\activate && echo from accounts.models import Account; Account.objects.create_superuser('gia', 'bao', 'bao@gmail.com', 'gia bao', 'baoadmin123') | python manage.py shell"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: greatkart.settings